:root {
  --spacing: 6rem;
  --border-radius: 12px;
}

.container-guide {
  padding: 3rem 0;
  background-color: var(--header-footer-bg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 24px 24px;
  position: relative;
  text-align: justify;
}

.container-guide .container h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.first-brand {
  -webkit-background-clip: text;
  background-clip: text;
  color: var(--primary-color);
  letter-spacing: -1px;
}

.second-brand {
  color: var(--accent-color-darker);
}

#guide .container h3 {
  padding: 0 1rem;
}

#guide .container p {
  padding: 0 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 2rem 0 1rem;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

section:nth-child(even) {
  background-color: var(--bg-white);
}

.highlight {
  color: var(--primary-color);
  font-weight: 600;
}

.open-source-box {
  background-color: var(--box-bg);
  padding: 2rem;
  padding-right: 6rem;
  margin: 3rem calc(50% - 51vw) 3rem 0;
  border-left: 4px solid var(--primary-color);
  border-radius: 0 0 0 0;
  position: relative;
  width: calc(100% + (50vw - 51%));
}

@media (max-width: 768px) {
  :root {
    --spacing: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .open-source-box {
    padding-right: 2rem;
  }
}
